@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(132deg, #fff7d4, #b4fccc);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s infinite;
          animation: Gradient 10s infinite;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  font-family: "Irish Grover", cursive;
  font-size: 30px;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}
header .gameName {
  margin-left: 10px;
}
header button {
  padding: 10px 45px;
  cursor: pointer;
  font-family: "Irish Grover", cursive;
  font-size: 20px;
}
header a img {
  margin-right: 10px;
}

.logo,
.rulesLink,
.leadersLink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.logo img,
.rulesLink img,
.leadersLink img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.flex {
  display: flex;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-fe {
  justify-content: flex-end;
}
.flex-ai-c {
  align-items: center;
}
.flex-fd-c {
  flex-direction: column;
}

#background .cube {
  position: fixed;
  transform-origin: 0 0;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 38s infinite;
          animation: cube 38s infinite;
  top: 18vh;
  left: 58vw;
  color: #00fd54;
}
#background .cube:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  top: 29vh;
  left: 34vw;
  color: #0098fd;
}
#background .cube:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  top: 10vh;
  left: 59vw;
  color: #fd00f0;
}
#background .cube:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  top: 75vh;
  left: 63vw;
  color: #fd7200;
}
#background .cube:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  top: 69vh;
  left: 41vw;
  color: #09005e;
}
#background .cube:nth-child(6) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  top: 69vh;
  left: 88vw;
  color: #ecfd00;
}
#background .cube:nth-child(7) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  top: 88vh;
  left: 7vw;
  color: #00fdfd;
}
#background .cube:nth-child(8) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  top: 14vh;
  left: 33vw;
  color: #fd0000;
}
#background .cube:nth-child(9) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
  top: 10vh;
  left: 83vw;
  color: #03790d;
}
#background .cube:nth-child(10) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  top: 16vh;
  left: 70vw;
  color: #008b80;
}
#background .cube:nth-child(11) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
  top: 44vh;
  left: 9vw;
  color: #be7200;
}
#background .cube:nth-child(12) {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
  top: 71vh;
  left: 14vw;
  color: #d80b0b;
}
#background .cube:nth-child(13) {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
  top: 6vh;
  left: 44vw;
  color: #d80b0b;
}
#background .cube:nth-child(14) {
  -webkit-animation-delay: 26s;
          animation-delay: 26s;
  top: 48vh;
  left: 43vw;
  color: #636363;
}
#background .cube:nth-child(15) {
  -webkit-animation-delay: 28s;
          animation-delay: 28s;
  top: 20vh;
  left: 90vw;
  color: #8cff9f;
}
#background .cube:nth-child(16) {
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
  top: 30vh;
  left: 36vw;
  color: #bd3076;
}
#background .cube:nth-child(17) {
  -webkit-animation-delay: 32s;
          animation-delay: 32s;
  top: 8vh;
  left: 83vw;
  color: #58995e;
}
#background .cube:nth-child(18) {
  -webkit-animation-delay: 34s;
          animation-delay: 34s;
  top: 63vh;
  left: 16vw;
  color: #0d114d;
}
#background .cube:nth-child(19) {
  -webkit-animation-delay: 36s;
          animation-delay: 36s;
  top: 94vh;
  left: 34vw;
  color: #bfff29;
}
#background .cube:nth-child(20) {
  -webkit-animation-delay: 38s;
          animation-delay: 38s;
  top: 82vh;
  left: 15vw;
  color: #9c1818;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(40) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(40) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
#main {
  font-family: "Acme", sans-serif;
}

.main__wrap {
  height: 100vh;
}
.main__form {
  padding: 50px;
  width: 500px;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
  background-color: rgba(121, 121, 121, 0.2);
  gap: 25px;
  z-index: 3;
}
.main__form h5 {
  font-size: 30px;
  text-align: center;
}
.main__form .name__wrap {
  width: 100%;
  position: relative;
}
.main__form .startMessage {
  color: red;
  font-size: 20px;
  z-index: -1;
  position: absolute;
  top: -85%;
  left: 12%;
}
.main__form .nameInput {
  width: 100%;
  height: 30px;
  outline: none;
  border: 3px solid rgb(114, 114, 114);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  display: none;
}
.main__form .nameInput::-moz-placeholder {
  font-family: "Acme", sans-serif;
}
.main__form .nameInput:-ms-input-placeholder {
  font-family: "Acme", sans-serif;
}
.main__form .nameInput::placeholder {
  font-family: "Acme", sans-serif;
}
.main__form .nameText {
  display: none;
  width: 100%;
  height: 30px;
  border: 3px solid rgb(114, 114, 114);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
}
.main__form .nameText .deletePlayerTitle {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  width: 100px;
  right: 20px;
  font-size: 13px;
}
.main__form .nameText img {
  width: 10px;
  height: 10px;
}
.main__form .nameText button {
  padding: 10px;
  margin: -10px;
  background: transparent;
  gap: 10px;
  width: 30px;
  z-index: 2;
}
.main__form .nameText button:hover ~ .deletePlayerTitle {
  opacity: 1;
}
.main__form .radio__box input {
  display: none;
}
.main__form .radio__box label {
  padding: 10px 60px;
  border: 3px solid rgb(114, 114, 114);
  border-radius: 2px;
  transition: all 0.5s;
  cursor: pointer;
}
.main__form .radio__box input[type=radio]:checked ~ label {
  background: #95E5FF;
  border-width: 1px;
  padding: 14px 64px;
}
.main__form .radio__wrap {
  width: 100%;
  position: relative;
}
.main__form button {
  padding: 10px 60px;
  border: none;
  border-radius: 2px;
  font-family: "Acme", sans-serif;
  cursor: pointer;
  background-color: #77b7cc;
}
.main__form a {
  text-decoration: none;
  color: black;
  margin: -10px 0;
  font-size: 20px;
}
.main__form .rulesLink {
  color: black;
  margin: -10px 0;
  font-size: 20px;
}
.main__form .rulesLink a {
  text-decoration: underline;
}
.main__form .showContent {
  display: flex;
}

#rules {
  padding: 100px;
  position: relative;
  z-index: 2;
  font-family: "Yomogi", cursive;
  font-size: 20px;
}
#rules .rules__wrap {
  width: 100%;
  padding: 15px 10px 15px 50px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}
#rules .rules__wrap h5 {
  font-size: 30px;
}
#rules .rules__wrap ol li ol {
  margin-left: 30px;
}
#rules .rules__wrap ol li ol li::marker {
  content: counter(list-item) ") ";
}

#timer {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  position: relative;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
}

.timerChild {
  background-color: rgb(0, 255, 0);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  transition: width 1s, background-color 10s;
}

.timerSpan {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.greenTimer {
  background-color: rgb(0, 255, 0);
}

.orangeTimer {
  background-color: rgb(255, 136, 0);
}

.redTimer {
  background-color: rgb(255, 0, 0);
}

#level {
  padding: 20px 0 10px;
  font-family: "Fredericka the Great", cursive;
  font-size: 40px;
  color: red;
}

.level__wrap {
  width: 100%;
}
.level__wrap div {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.levels {
  width: 33.333333%;
  padding: 5px;
  background-color: aliceblue;
  border: 3px solid rgb(114, 114, 114);
}

#practice,
#timeAttack {
  padding: 10px 0;
  font-family: "Laila", sans-serif;
}

.practice__wrap,
.timeAttack__wrap {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.question__wrap {
  overflow: hidden;
  height: 150px;
  width: 300px;
  border: 3px solid rgb(114, 114, 114);
  font-size: 40px;
  row-gap: 10px;
}

.questionSpan {
  height: 62px;
  margin-right: -10px;
}

.answerSpan {
  height: 62px;
}

.score__wrap {
  position: relative;
  margin: 10px 0;
}

.changeScoreSpan {
  position: absolute;
  right: 0;
}

.stopGame {
  cursor: pointer;
  padding: 10px;
}
.stopGame span {
  font-size: 20px;
}
.stopGame img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}

.greenBack {
  background-color: green;
  text-shadow: 1px 1px 2px red, -1px 1px 2px red, 1px -1px 2px red, -1px -1px 2px red;
  border: none;
}

#answerInput {
  display: none;
}
#answerInput::-webkit-outer-spin-button, #answerInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#gameOverModal {
  font-family: "Merienda", cursive;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.backdropActive {
  display: block;
}

.hidden {
  overflow: hidden;
}

.modal {
  position: fixed;
  padding: 50px 20px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 75%;
  transition: transform 0.1s;
  transform: scale(0);
  z-index: 3;
}
.modal h6 {
  font-size: 50px;
}
.modal a {
  text-decoration: none;
  color: black;
}
.modal button {
  font-family: "Merienda", cursive;
  font-size: 15px;
}

.modalActive {
  transform: scale(1);
}

#newGame {
  padding: 10px 25px;
  cursor: pointer;
}

.modalContent {
  row-gap: 20px;
}

.modalScore {
  font-size: 50px;
}

.rightAnswerWrap,
.wrongAnswerWrap {
  font-size: 20px;
}

#leaderBoard {
  padding: 50px;
  position: relative;
  z-index: 2;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
}

.leaderBoard__wrap {
  width: 100%;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}
.leaderBoard__wrap .gameModeWrap {
  margin-bottom: 20px;
}
.leaderBoard__wrap .gameModeWrap p {
  font-size: 15px;
  margin-right: 10px;
}
.leaderBoard__wrap .gameModeWrap select {
  font-family: "Philosopher", sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
}
.leaderBoard__wrap table {
  width: 100%;
}
.leaderBoard__wrap th,
.leaderBoard__wrap td {
  padding: 5px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

@-webkit-keyframes fadeInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
@keyframes fadeOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeInToUp {
  0% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: 5px;
    opacity: 0;
  }
}
@keyframes fadeInToUp {
  0% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: 5px;
    opacity: 0;
  }
}
.fade-out-to-left {
  -webkit-animation: fadeOutToLeft 0.5s ease;
          animation: fadeOutToLeft 0.5s ease;
  transform: translateX(-250%);
}

.fade-in-to-up {
  -webkit-animation: fadeInToUp 0.5s ease;
          animation: fadeInToUp 0.5s ease;
}

.fade-in-from-right {
  -webkit-animation: fadeInFromRight 0.5s ease;
          animation: fadeInFromRight 0.5s ease;
}/*# sourceMappingURL=style.css.map */